{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script defer src="{% static 'js/bundle.js' %}"></script>

    <title>Document</title>
  </head>
  <body>
    <div
      x-data="{
    open: false
  }"
    >
      <button @click="open = !open">Click</button>
      <div class="modal" x-bind:class="{close: open}">Visible</div>
    </div>

    <div x-data="dropdown">
      <button @click="toggle">Expand</button>

      <span x-show="open">Content...</span>
    </div>

    <div x-data="dropdown">
      <button @click="toggle">Expand</button>

      <span x-show="open">Some Other Content...</span>
    </div>
  </body>
</html>
